@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 152 30% 98%;
    --ring: 152 92.41% 36.78%;
    --input: 220 13% 91%;
    --muted: 122 32% 86%;
    --accent: 316.3 100% 94.08%;
    --border: 220 13% 91%;
    --popover: 152 30% 98%;
    --primary: 316.3 74.19% 75.69%;
    --secondary: 138.11 68.66% 53.37%;
    --background: 152 30% 98%;
    --foreground: 152 67% 1%;
    --destructive: 11 85% 43%;
    --card-foreground: 152 67% 1%;
    --muted-foreground: 122 10% 30%;
    --accent-foreground: 314.33 46.21% 28.43%;
    --popover-foreground: 152 67% 1%;
    --primary-foreground: 314.33 46.21% 28.43%;
    --secondary-foreground: 122 100% 10%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 152 38% 0%;
    --ring: 152 100% 50%;
    --input: 215 27.9% 16.9%;
    --muted: 122 32% 14%;
    --accent: 312.45 0% 0%;
    --border: 215 27.9% 16.9%;
    --popover: 220.91 39.29% 10.98%;
    --primary: 316.3 74.19% 75.69%;
    --secondary: 152 100% 50%;
    --background: 222.86 70% 3.92%;
    --foreground: 152 22% 100%;
    --destructive: 11 0% 0%;
    --card-foreground: 152 22% 100%;
    --muted-foreground: 122 10% 70%;
    --accent-foreground: 314.71 76.12% 73.73%;
    --popover-foreground: 152 22% 100%;
    --primary-foreground: 314.33 46.21% 28.43%;
    --secondary-foreground: 122 100% 10%;
    --destructive-foreground: 152 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
